body {
    font-family: 'Petrona', serif;
    font-weight: 400;
    background: #e9eeea;
}

h1 {
    text-align: center;
    font-weight: 400;
}

.container {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: #5a6370;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}
